.App {
  font-family: Avenir, Arial, sans-serif;
  text-align: center;
  /* border: 5px red solid; */
  height: 100vh;
  display: grid;
  grid-template: 1fr 1fr 8fr / 1fr;
  grid-template-areas:
    "header"
    "navbar"
    "content";
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header a,
.navbar a {
  color: white;
}

a {
  color: #00703c;
}

.header {
  /* border: 5px green solid; */
  grid-area: header;
  background-color: #00703c;
}

.navbar {
  /* border: 5px blue solid; */
  grid-area: navbar;
  background-color: #00703c;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.navbar-link {
  margin-left: 10px;
}

.content {
  /* border: 5px orange solid; */
  grid-area: content;
}

.article-card {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-areas: "articles-list-votes-block articles-list-article-preview";
  border: 2px black solid;
  border-radius: 10px;
  margin: 10px 15%;
  padding: 5px;
  text-align: left;
}

.articles-list-votes-block {
  grid-area: articles-list-votes-block;
  margin: auto;
}

.toggle-votes {
  margin: auto;
}

.articles-list-article-preview {
  grid-area: articles-list-article-preview;
}

article {
  /* border: 2px black solid; */
  margin: 0 15%;
  text-align: left;
}

.individual-article-header {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-areas: "individual-article-votes-block individual-article-header-text";
  text-align: left;
}

.individual-article-votes-block {
  grid-area: individual-article-votes-block;
  margin: auto;
}

.individual-article-header-text {
  grid-area: individual-article-header-text;
  margin-left: 15px;
}

.comments-list {
  float: left;
  overflow-y: auto;
  overflow: scroll;
  max-height: 450px;
  margin-bottom: 25px;
}

/* Force scrollbar to display for comments-list div */
.comments-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.comments-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.comment {
  background-color: lightgray;
  border: 1px black solid;
  border-radius: 10px;
  margin: 10px 5%;
  padding: 10px;
  width: 80%;
  float: left;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-areas: "comment-votes-block comment-text";
  text-align: left;
}

.comment--current-user {
  background-color: lightblue;
  border: 1px black solid;
  border-radius: 10px;
  margin: 10px 5%;
  padding: 10px;
  width: 80%;
  float: right;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-areas: "comment-votes-block comment-text";
  text-align: left;
}

.delete-comment-button {
  margin-left: 10px;
}

.comment-votes-block {
  grid-area: comment-votes-block;
  margin: auto;
}

.comment-text {
  grid-area: comment-text;
  margin-left: 25px;
}

#post-comment-block {
  margin: 0 5% 100px 5%;
}

form {
  margin-top: 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
}

.post-comment-form--default {
  padding-left: 15px;
}

.post-comment-form--error {
  color: red;
  padding-left: 10px;
  border-left: 5px solid red;
}

.toggle-votes {
  display: flex;
  flex-direction: column;
  width: 25px;
}
